/node_modules
/public/build
/public/hot
/storage/*.key
/vendor
/database/*.sqlite
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/graphify-out
/output
/storage/app
/storage/framework/testing
/storage/framework/testing-concurrency
.env.testing
